<div class="examples">

<div class="notecard" style="height:116px;margin-right:19px;margin-bottom:8px">
  <div style="font-size:18px;display:block;width:100%;font-weight:bold;text-align:left;padding-left:10px">Features &amp; Benefits</div>

  <ul>
    <li>Remove skin blemishes</li>
    <li>Correct lighting</li>
    <li>Slim arms and legs</li>
  </ul>
  <ul>
    <li>Enhance and enlarge</li>
    <li>Color balancing</li>
  </ul>
  <ul>
    <li>Remove background</li>
    <li>Zoom and center</li>
  </ul>

  <div style="clear:both"></div>

</div>
<div style="clear:both"></div>

<div class="photo-holder" style="float:left">
  <%= image_tag('before/anita360.jpg', :id => "before") %>
</div>

<div class="photo-holder" style="float:left">
  <%= image_tag('before/anita360-after.jpg', :id => "after") %>
</div>

<div style="clear:both"></div>
<div style="padding-left:300px">
  <p class="shadowtext"><a href="#" id="nextpic" style="color:#FFF">Next Sample &raquo;</a></p>
</div>

</div>

<script>
  var befores = ['anita360.jpg', 'arlene360.jpg','gertrude360.jpg'];
  var afters = ['anita360-after.jpg','arlene360-after.jpg','gertrude360-after.jpg'];

  var current = 0;
  var waiting = false;

  $j(function() {
    $j('#nextpic').mouseup(function(e) {
      e.preventDefault();
      if (waiting) {
        return false;
      }
      
      current++;
      if (current > (befores.length-1)) {
        current = 0;
      }
      waiting = true;
      
      $j("#before").attr('src', imgpath(befores[current]));
      $j("#after").attr('src', imgpath(afters[current]));
      setTimeout(function() {
        waiting = false;
      }, 300);
      
      return false;

    });

  });

  function imgpath(img) {
    return "http://s3.amazonaws.com/net.retouchme.prod/images/before/" + img;
  }

</script>
